.top-header {
  padding-top: 20px;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.top-header .header__top {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
  margin-bottom: 25px;
}

.header__top .header__column span {
  font-size: 20px;
  color: #313042;
}

.header__top .header__column span.logo {
  font-weight: 600;
  font-size: 24px;
  font-family: sans-serif;
}

.header__top .header__column svg {
  color: #5e5f71;
  padding-right: 20px;
}

.header__top .header__column svg:last-child {
  padding-right: 0;
}

.header__icons {
  display: flex;
  justify-content: space-between;
}

.header__icons .header__icon {
  color: #c4c3cb;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.header__icons .header__icon:hover {
  cursor: pointer;
  color: #ff4090;
  border-bottom: 2px solid #ff4090;
  transition: all 0.2s;
}

.header__icon.header__icon--selected {
  color: #ff4090;
  padding-bottom: 10px;
  border-bottom: 2px solid #ff4090;
}
